
  .mask
  {
    position:relative;
    /* top:5px; */
    /* margin:auto; */
    /* width:200px; height:100px;  */
   
    /* font-size:60px; */
    /* font-weight:700  ; */
    /* font-family: 'Lobster Two', cursive; */
    /* text-align:center; */
    /* line-height:90px; */
     /* text-shadow: 0px 2px 2px  rgba(0,0,0,0.2), 0px 2px 0px rgba(255,255,255,0.3); */
  
   background-image:-webkit-radial-gradient(center 10px,80px 100px, #00acc1ff 50%, #0077ff 51%);
     
  background-size:40px 110px;  
   
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  -webkit-animation-name: wave-animation; 
  -webkit-animation-duration: 6s ;  
  -webkit-animation-iteration-count:1; 
  -webkit-animation-timing-function: linear ; 
  }
  
  @keyframes wave-animation
  { 
    
   0% {background-position:200px 0px;}
   25% {background-position:100px -30px;}
  50% {background-position:0px -55px;;}
  75% {background-position:100px -30px;}
    100% {background-position:200px 0px;}
  }
  
  .loader{
    position: relative;
    
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  
  .loader h1{

    text-transform: uppercase;
    font-size: 10em;
    
    background-image: url(https://image.ibb.co/ciSeac/image.png);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
  
  }
  
  @keyframes animate{
    0%{
      background-position: left 0px top 80px;
    }
    40%{
      background-position: left 800px top -50px;
    }
    80%{
      background-position: left 1800px top -50px;
    }
    100%{
      background-position: left 2400px top 80px;
    }
  }




  .bubble{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
  .small{
    width: 10px;
    height: 10px;
    left: 50%;
    animation: flow-s 2s linear infinite;
  }
  .small-l{
    width: 10px;
    height: 10px;
    left: 43%;
    animation: flow-s-l 0.9s linear infinite;
  }
  .s-medium{
    width: 20px;
    height: 20px;
    left: 43%;
    animation: flow-s 1.3s linear infinite;
  }
  .medium{
    width: 25px;
    height: 25px;
    left: 45%;
    animation: flow-m 0.8s linear infinite;
  }
  .large{
    width:5px;
    height: 5px;
    left: 57%;
    animation: flow-l 0.7s linear infinite;
  }
  .small-left{
    width: 10px;
    height: 10px;
    left: 50%;
    animation: flow-s-left 2s linear infinite;
  }
  .small-l-left{
    width: 10px;
    height: 10px;
    left: 43%;
    animation: flow-s-l-left 0.9s linear infinite;
  }
  .s-medium-left{
    width: 20px;
    height: 20px;
    left: 43%;
    animation: flow-s-left 1.3s linear infinite;
  }
  .medium-left{
    width: 25px;
    height: 25px;
    left: 45%;
    animation: flow-m-left 0.8s linear infinite;
  }
  .large-left{
    width:5px;
    height: 5px;
    left: 57%;
    animation: flow-l-left 0.7s linear infinite;
  }
  
  @keyframes flow-l {
    0% {
      top: 53%;
      left: 57%;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 57.5%;
      opacity: 1;
    }
    50%{
      left: 58%;
      opacity: 1;
    }
    75%{
      left: 57.5%;
      opacity: 1;
    }
    100% {
      top: 32%;
      left: 57%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s {
    0% {
      top: 53%;
      left: 50%;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 51%;
      opacity: 1;
    }
    50%{
      top: 45%;
      left: 52%;
      opacity: 1;
    }
    75%{
      top: 41%;
      left: 51%;
      opacity: 1;
    }
    100% {
      top: 37%;
      left: 50%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-m {
    0% {
      top: 53%;
      left: 43%;;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 42.5%;
      opacity: 1;
    }
    50%{
      top: 45%;
      left: 42%;
      opacity: 1;
    }
    75%{
      top: 41%;
      left: 42.5%;
      opacity: 1;
    }
    100% {
      top: 37%;
      left: 43%;
      opacity: 0;
    }
  }
  
  @keyframes flow-m {
    0% {
      top: 53%;
      left: 45%;;
      opacity:0;
    }
    25%{
      top: 48%;
      left: 44.5%;
      opacity: 1;
    }
    50%{
      top: 43%;
      left: 44%;
      opacity: 1;
    }
    75%{
      top: 38%;
      left: 44.5%;
      opacity: 1;
    }
    100% {
      top: 33%;
      left: 45%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-l {
    0% {
      top: 53%;
      left: 43%;;
      opacity:0;
    }
    25%{
      top: 48%;
      left: 43.5%;
      opacity: 1;
    }
    50%{
      top: 43%;
      left: 44%;
      opacity: 1;
    }
    75%{
      top: 38%;
      left: 43.5%;
      opacity: 1;
    }
    100% {
      top: 33%;
      left: 43%;
      opacity: 0;
    }
  }





  @keyframes flow-l-left {
    0% {
      top: 53%;
      left: 37%;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 37.5%;
      opacity: 1;
    }
    50%{
      left: 38%;
      opacity: 1;
    }
    75%{
      left: 37.5%;
      opacity: 1;
    }
    100% {
      top: 32%;
      left: 37%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-left {
    0% {
      top: 53%;
      left: 30%;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 31%;
      opacity: 1;
    }
    50%{
      top: 45%;
      left: 32%;
      opacity: 1;
    }
    75%{
      top: 41%;
      left: 31%;
      opacity: 1;
    }
    100% {
      top: 37%;
      left: 30%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-m-left {
    0% {
      top: 53%;
      left: 23%;;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 22.5%;
      opacity: 1;
    }
    50%{
      top: 45%;
      left: 22%;
      opacity: 1;
    }
    75%{
      top: 41%;
      left: 22.5%;
      opacity: 1;
    }
    100% {
      top: 37%;
      left: 23%;
      opacity: 0;
    }
  }
  
  @keyframes flow-m-left {
    0% {
      top: 53%;
      left: 25%;;
      opacity:0;
    }
    25%{
      top: 48%;
      left: 24.5%;
      opacity: 1;
    }
    50%{
      top: 43%;
      left: 24%;
      opacity: 1;
    }
    75%{
      top: 38%;
      left: 24.5%;
      opacity: 1;
    }
    100% {
      top: 33%;
      left: 25%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-l-left {
    0% {
      top: 53%;
      left: 23%;;
      opacity:0;
    }
    25%{
      top: 48%;
      left: 23.5%;
      opacity: 1;
    }
    50%{
      top: 43%;
      left: 24%;
      opacity: 1;
    }
    75%{
      top: 38%;
      left: 23.5%;
      opacity: 1;
    }
    100% {
      top: 33%;
      left: 23%;
      opacity: 0;
    }
  }